.listElement{
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 20%;
    height: 1%;
}
.listElement *{
    background-color: rgb(85, 124, 158);
    color: #000;
    height: 1%;
} 
.listElement p{
    flex-grow: 1;
}