.listElement{
    background-color: #5a189a;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: fit-content;
    height: 1%;
}
.listElement *{
    background-color: #121212;
    color: #c77dff;
    height: 1%;
} 
.listElement p{
    flex-grow: 1;
}
.check{
   width: fit-content;
   height: fit-content;
}